// COLORS
$clr-primary-300: hsla(231, 7%, 60%, 50%);
$clr-primary-400: hsl(231, 7%, 60%);
$clr-primary-500: hsl(235, 18%, 26%);
$clr-primary-600: hsl(234, 29%, 20%);
$clr-tomato: hsl(4, 100%, 67%);
$clr-white: hsl(0, 0%, 100%);

// FONTS
$font-size: 1rem;
$fw-regular: 400;
$fw-bold: 700;
$font-family: "Roboto", sans-serif;

// screensizes
$screen-mobile: 375px;
$screen-desktop: 1440px;